*{
    margin:0px;
    padding:0px;
    font-style:none;
}
body{    
    width:100%;
    position:absolute;
    display: inline-block;
    align-content: center;
}
h1{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    
}
/* .titleOfParagraph{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    position:relative;
    box-sizing: content-box;
    
} */
/* .menu{
    display:inline-block;
    flex-wrap:wrap;
} */
.bigpart{
    
    display: block;
    flex-wrap: wrap;
    width:100%;
    height:800px;
    padding:50px;
    position:relative;
    align-items: center;
}

.redBlack{
    width:357px;
    vertical-align: top;
    position:relative;
    right:-200px;
    z-index:1;
}
.redBlack02{
    width:357px;
    vertical-align: top;
    position:relative;
    right:-900px;
    z-index:1;
}
.redBlack04{
    width:357px;
    vertical-align: top;
    position:relative;
    right:-900px;
    z-index:1;
}




.red{
    background-color: rgb(187,3,5);
    color:white;
    display:flex;
}

.red .number {
    transform: rotate(90deg);
    font-size:100px;
    box-sizing: content-box;

}
.red .whiteword{
    display:flex;
    font-size:60px;
    align-items: center;
    justify-content: center;
}
.red02{
    background-color: rgb(187,3,5);
    color:white;
    display:flex;
    flex-direction:row-reverse;
}
.red02 .number {
    transform: rotate(90deg);
    font-size:100px;
    box-sizing: content-box;

}
.red02 .whiteword{
    display:flex;
    font-size:60px;
    align-items: center;
    justify-content: center;
}
.red04{
    background-color: rgb(187,3,5);
    color:white;
    display:flex;
    flex-direction:row-reverse;
}
.red04 .number {
    transform: rotate(90deg);
    font-size:100px;
    box-sizing: content-box;

}
.red04 .whiteword{
    display:flex;
    font-size:60px;
    align-items: center;
    justify-content: center;
}


.black{
    background-color: black;
    padding:20px 22px;
    font-size:18px;
}
.black h2{
    color:white;
    margin:10px 10px 0px 5px;
}
.black h3{
    color:rgb(171, 171, 171);
    margin:0px 3px 10px 5px;
}


.grayBlock{
    position:relative;
    width:439px;
    height:290px;
    background-color: rgb(245,245,245);
    top:-330px;
    left:700px;
}
.grayBlock02{
    position:relative;
    width:439px;
    height:290px;
    background-color: rgb(245,245,245);
    top:-280px;
    left:500px;
}
.grayBlock04{
    position:relative;
    width:439px;
    height:290px;
    background-color: rgb(245,245,245);
    top:-350px;
    left:500px;
}
.videopic{
    width:695px;
    background-size: contain;
    
    position:relative;
    top:-526px;
    left:400px;
}
.videopic02{
    width:695px;
    background-size: contain;
    
    position:relative;
    top:-500px;
    left:300px;
}
.videopic03{
    width:695px;
    background-size: contain;
    
    position:relative;
    top:-555px;
    left:400px;
}
.videopic04{
    width:695px;
    background-size: contain;
    
    position:relative;
    top:-555px;
    left:300px;
}
.ytbutton{
    width:57px;
    vertical-align: top;
    position:relative;
    right:-1050px;
    top:-760px;
    box-sizing: content-box;
    z-index: 1;
    
}
.ytbutton02{
    width:57px;
    vertical-align: top;
    position:relative;
    left:290px;
    top:-700px;
    box-sizing: content-box;
    z-index: 1;
    
}
.ytbutton04{
    width:57px;
    vertical-align: top;
    position:relative;
    left:290px;
    top:-770px;
    box-sizing: content-box;
    z-index: 1;
    
}
.grayinfo{
    Width:682px;
    background-color:#EEEEEE ;
    padding:0px 15px 0px 15px;    
    box-sizing: content-box;
    position:relative;
    bottom:600px;
    left:250px;
    z-index:1;

}

.grayinfo h2{
    color:rgb(225, 0, 0);
    padding:1px;    
    box-sizing: content-box;
    display:flex;
    position:relative;
}
.grayinfo h2::after{
    content:'';
    display:flex;
    width:60%;
    height:1px;
    background-color: red;    
    justify-content: center;
    align-content: center;
    top:15px;
    left:5px;
    position:relative;
}

.grayinfo h3{
    background-color: black;
    color:white;
    width:fit-content;
    padding:0px 0px;    
    box-sizing:border-box;
    margin:0px;
    
}
.grayinfo h4{
    font-weight:500;
    box-sizing: border-box;
    padding:0px 10px;
    margin:5px;
}
.grayinfo h4::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: #f00;
    vertical-align: middle;
    transform: scale(0.3);
    border-radius: 50%;
}
.grayinfo02 h4::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: #f00;
    vertical-align: middle;
    transform: scale(0.3);
    border-radius: 50%;
}
.grayinfo03 h4::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: #f00;
    vertical-align: middle;
    transform: scale(0.3);
    border-radius: 50%;
}
.grayinfo04 h4::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: #f00;
    vertical-align: middle;
    transform: scale(0.3);
    border-radius: 50%;
}
.grayinfo02{
    Width:682px;
    background-color:#EEEEEE ;
    padding:0px 15px 0px 15px;    
    box-sizing: content-box;
    position:relative;
    bottom:570px;
    left:550px;
    z-index:1;

}

.grayinfo02 h2{
    color:rgb(225, 0, 0);
    padding:1px;    
    box-sizing: content-box;
    display:flex;
    position:relative;
}
.grayinfo02 h2::after{
    content:'';
    display:flex;
    width:60%;
    height:1px;
    background-color: red;    
    justify-content: center;
    align-content: center;
    top:15px;
    left:5px;
    position:relative;
}

.grayinfo02 h3{
    background-color: black;
    color:white;
    width:fit-content;
    padding:0px 0px;    
    box-sizing:border-box;
    margin:0px;
    
}
.grayinfo02 h4{
    font-weight:500;
    box-sizing: border-box;
    padding:0px 10px;
    margin:5px;
}
.grayinfo04{
    Width:682px;
    background-color:#EEEEEE ;
    padding:0px 15px 0px 15px;    
    box-sizing: content-box;
    position:relative;
    bottom:630px;
    left:540px;
    z-index:1;

}

.grayinfo04 h2{
    color:rgb(225, 0, 0);
    padding:1px;    
    box-sizing: content-box;
    display:flex;
    position:relative;
}
.grayinfo04 h2::after{
    content:'';
    display:flex;
    width:60%;
    height:1px;
    background-color: red;    
    justify-content: center;
    align-content: center;
    top:15px;
    left:5px;
    position:relative;
}

.grayinfo04 h3{
    background-color: black;
    color:white;
    width:fit-content;
    padding:0px 0px;    
    box-sizing:border-box;
    margin:0px;
    
}
.grayinfo04 h4{
    font-weight:500;
    box-sizing: border-box;
    padding:0px 10px;
    margin:5px;
}