ul {
    list-style: none; /* Remove default bullets */
  }
  
  ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: blue; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }

.part{
    padding:20px;
    display: flex;
    flex-direction: row-reverse;
}
.part:nth-child(even){
    /* border:2px solid blue; */
    flex-direction:row;
}
h2{
    width:100%;
    margin:0% auto;
    text-align: center;
    background-color: #dad5d5;
}
h3{
    font-size:50px;
}
.forh2{
    width:100% auto;
    margin:0% auto;
    text-align: center;
    background-color: #dad5d5;
}
.image{
    width:50%;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    /* border:2px solid red; */
}
.paragraph{
    width:50%;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    /* border:2px solid orange; */
    padding: 20px 20px 20px 20px;
}
.p_title,.p_middle,.p_list,.p_foot{
    height:20% 30% 30% 20%;
    width:100%;
    margin:5px;
    /* outline:2px solid red; */
}
.p_list{
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
}
.p_list li{
    width:100%;
    margin:2px;
    /* border:2px solid green; */
}
.morefunction{
    width:100%;
    display:flex;
    flex-direction:column;
}
.morefunction .m_paragraph h3{
    text-align: center;
}
.morefunction .info{
    display: flex;
}
.morefunction .info .infopart{
    width:300px;
    flex-wrap:wrap;
    flex-direction: column;
    border:3px solid red;

}